<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body id="header" class="header">
    <div class="container">
        <div style="margin-top:1%">
            <a class="btn btn-dark" asp-area="" asp-controller="User" asp-action="Profile" style="margin-right:10%">Profile</a>

            <a class="btn btn-secondary" asp-area="" asp-controller="User" asp-action="FindUser">Users</a>

            <a class="btn btn-secondary" asp-area="" asp-controller="Service" asp-action="ServiceManagement">Services</a>

            <a class="btn btn-secondary" asp-area="" asp-controller="Order" asp-action="OrdersManagement">Orders</a>

            <a class="btn btn-secondary" asp-area="" asp-controller="Service" asp-action="MyServices">MyServices</a>

            <a class="btn btn-secondary" asp-area="" asp-controller="Order" asp-action="MyServiceOrders">MyServiceOrders</a>


            <p>@ViewBag.Text</p>
        </div>
        </div>

</body>
</html>